* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: hotpink;
    background-color: black;
}

h1 {
    font-size: 3rem;
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

div.game-icons {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

button.game-icon {
    border-radius: 50%;
    /* border: 3px hotpink solid; */
    padding: 0;
    /* margin: 2rem; */
    opacity: 0.5;
    width: 100%;
    justify-content: space-evenly;
}

button:hover {
    /* border: 1px hotpink solid; */
    opacity: 1;
    cursor: pointer;
}

button img {
    border-radius: 50%;
    /* width: 100%; */
}

div.play-again-div {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

#result p {
    font-size: 1.5rem;
}
/* Makes 'You Win/Lose/Draw line larger and more prominent */
#result p:last-child {
    font-size: 2rem;
    font-weight: 700;
}

button.play-again {
    width: 30%;
    margin: 0 auto;
    margin-top: 6rem;
    font-size: 2rem;
    border: 1px hotpink solid;
    border-radius: 0.625rem;
}

button.play-again:hover {
    cursor: pointer;
    background-color: hotpink;
    color: black;
    border: 2px black solid;
}