* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: hotpink;
    background-color: black;
}

h1 {
    font-size: 2rem;
    width: 50%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

div.game-icons {
    width: 80%;
    margin: 0 auto;
}

button.game-icon {
    border-radius: 50%;
    /* border: 3px hotpink solid; */
    padding: 0;
    margin: 2rem;
    opacity: 0.5;
}

button:hover {
    /* border: 1px hotpink solid; */
    opacity: 1;
    cursor: pointer;
}

button img {
    border-radius: 50%;
    /* width: 100%; */
}